.nav-container {
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;

  margin-bottom: 20px;

  font-size: 3.5rem;
  color: white;

  background-color: rgb(47, 79, 55);

  width: 100%;
}
